### Import packages

In [1]:
import pandas as pd
import pyarrow.csv as pv
import pyarrow.parquet as pq

import matplotlib.pyplot as plt
import descartes
import geopandas as gpd
from shapely.geometry import Point, Polygon
import lazypredict

### Convert data to parquet

In [ ]:
city_neighborhood = pv.read_csv('./data/City_of_Edmonton_-_Neighbourhoods_20240201.csv')
city_property_info = pv.read_csv('./data/Property_Information__Current_Calendar_Year__20240201.csv')
city_property_assessment = pv.read_csv('./data/Property_Assessment_Data__Current_Calendar_Year__20240201.csv')

pq.write_table(city_neighborhood,'./data/city_neighborhood.parquet')
pq.write_table(city_property_info,'./data/city_property_info.parquet')
pq.write_table(city_property_assessment,'./data/city_property_assessment.parquet')

### Read data

In [2]:
neighbor = pd.read_parquet('./data/city_neighborhood.parquet')
property_info = pd.read_parquet('./data/city_property_info.parquet')
assessment = pd.read_parquet('./data/city_property_assessment.parquet')

In [ ]:
neighbor.head()

In [ ]:
property_info.head()

In [ ]:
assessment.head()

In [ ]:
property_info.shape

In [ ]:
assessment.shape

### Join and Merge Data

In [3]:
property_desc = property_info.merge(assessment[['Account Number','Garage','Assessed Value']],how='inner',on='Account Number')

In [4]:
property_desc.head()

,Account Number,Suite,House Number,Street Name,legal_description,zoning,lot_size,Total Gross Area,year_built,garage,Neighbourhood ID,Neighbourhood,Ward,Latitude,Longitude,Point Location,Garage,Assessed Value
0,3794377,,NaN,,,A,NaN,,NaN,False,6620.0,RIVER VALLEY GOLD BAR,Métis Ward,53.541953,-113.408346,POINT (-113.40834603699963 53.541952933594935),N,29500
1,9018060,,9835.0,71 STREET NW,,AP,NaN,,NaN,False,6730.0,TERRACE HEIGHTS,Métis Ward,53.539089,-113.436267,POINT (-113.43626681866041 53.539088745077535),N,10500
2,9964116,,NaN,,,RF1,NaN,0 M2 / 0 FT2,NaN,False,6310.0,HOLYROOD,Métis Ward,53.532271,-113.447592,POINT (-113.44759231831523 53.53227088653109),N,10500
3,9988380,,NaN,,Plan: 2629HW,MU,304.0,,1991.0,False,2550.0,MONTROSE,Métis Ward,53.570513,-113.451745,POINT (-113.45174452375724 53.570513479343425),N,122500
4,9992244,,NaN,,,RF1,NaN,0 M2 / 0 FT2,NaN,False,5210.0,GRANDVIEW HEIGHTS,papastew Ward,53.500264,-113.549373,POINT (-113.54937250154912 53.500263788056216),N,8000

In [ ]:
city_map = gpd.read_file('./data/city_map.shp')

fig,ax = plt.subplots(figsize=(15,15))
city_map.plot(ax=ax)

In [5]:
from lazypredict.Supervised import LazyClassifier
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split